body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

#buttons{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#container {
    display: flex;
    background-color: red;
    border: 20px solid red;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: 950px;
    width: 950px;
}

.pixels {
    display: flex;
    color: white;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    height: auto;
}

/* .child:before{
    content: '';
    display: block;
    padding-top: 100%;
} */
