#header{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

#buttons{
    display: flex;
    justify-content: space-between;
}

#container {
    display: flex;
    background-color: red;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pixels {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
    min-width: 20px;
    min-height: 20px;
}
